.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

@media (min-width: 701px) {
  .main {
    padding: 3rem 6rem;
  }
}

@media (max-width: 701px) {
  .main {
    padding: 4rem 0rem;
  }
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin: 0 20px;
  padding: 0 20px;
}

.description .title {
  align-self: flex-start;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-family: "Montserrat", sans-serif;
}

.description .subtitle {
  font-size: 2rem;
}

.description .search {
  font-size: 2rem;
}
.description .searchResult {
  font-size: 3rem;
}

.description .blob {
  position: absolute;
  right: 0;
  top: 0;
  aspect-ratio: 1;
  z-index: -1;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 1024px) {
  .description .blob {
    height: 25vw;
  }
}

@media (max-width: 425px) {
  .description .blob {
    top: 10vh;
    height: 40vw;
  }
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 1rem;
  margin: 20px;
  &:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

  }
}